<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virhe</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css">
</head>
<body>
    <main>
        <h1>Virhe</h1>
        <p><%= teksti %></p>
    </main>
</body>
</html>